<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>cdate</th>
      <th>cp</th>
      <th>pctlead</th>
      <th>pred_linr</th>
      <th>pred_logr</th>
      <th>eff_linr</th>
      <th>eff_logr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2019-01-01</td>
      <td>2531.9186</td>
      <td>0.0</td>
      <td>-0.234775</td>
      <td>0.49974</td>
      <td>-0.0</td>
      <td>-0.0</td>
    </tr>
  </tbody>
</table>