<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>cdate</th>
      <th>cp</th>
      <th>pctlead</th>
      <th>pred_linr</th>
      <th>pred_logr</th>
      <th>eff_linr</th>
      <th>eff_logr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2019-01-02</td>
      <td>2510.0300</td>
      <td>-2.4757</td>
      <td>-0.195369</td>
      <td>0.512662</td>
      <td>2.4757</td>
      <td>-2.4757</td>
    </tr>
    <tr>
      <td>2019-01-03</td>
      <td>2447.8899</td>
      <td>3.4336</td>
      <td>0.181114</td>
      <td>0.567717</td>
      <td>3.4336</td>
      <td>3.4336</td>
    </tr>
    <tr>
      <td>2019-01-04</td>
      <td>2531.9399</td>
      <td>0.7010</td>
      <td>-0.210832</td>
      <td>0.455300</td>
      <td>-0.7010</td>
      <td>-0.7010</td>
    </tr>
    <tr>
      <td>2019-01-07</td>
      <td>2549.6899</td>
      <td>0.9695</td>
      <td>-0.206210</td>
      <td>0.432691</td>
      <td>-0.9695</td>
      <td>-0.9695</td>
    </tr>
    <tr>
      <td>2019-01-08</td>
      <td>2574.4099</td>
      <td>0.4098</td>
      <td>-0.083351</td>
      <td>0.483266</td>
      <td>-0.4098</td>
      <td>-0.4098</td>
    </tr>
    <tr>
      <td>2019-01-09</td>
      <td>2584.9600</td>
      <td>0.0000</td>
      <td>-0.035841</td>
      <td>0.500711</td>
      <td>-0.0000</td>
      <td>0.0000</td>
    </tr>
  </tbody>
</table>