<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>cdate</th>
      <th>cp</th>
      <th>pctlead</th>
      <th>pred_linr</th>
      <th>pred_logr</th>
      <th>eff_linr</th>
      <th>eff_logr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2019-01-02</td>
      <td>2510.0300</td>
      <td>-2.4757</td>
      <td>-0.195370</td>
      <td>0.512661</td>
      <td>2.4757</td>
      <td>-2.4757</td>
    </tr>
    <tr>
      <td>2019-01-03</td>
      <td>2447.8899</td>
      <td>3.4336</td>
      <td>0.181116</td>
      <td>0.567718</td>
      <td>3.4336</td>
      <td>3.4336</td>
    </tr>
    <tr>
      <td>2019-01-04</td>
      <td>2531.9399</td>
      <td>0.7010</td>
      <td>-0.210831</td>
      <td>0.455299</td>
      <td>-0.7010</td>
      <td>-0.7010</td>
    </tr>
    <tr>
      <td>2019-01-07</td>
      <td>2549.6899</td>
      <td>0.9695</td>
      <td>-0.206211</td>
      <td>0.432691</td>
      <td>-0.9695</td>
      <td>-0.9695</td>
    </tr>
    <tr>
      <td>2019-01-08</td>
      <td>2574.4099</td>
      <td>0.4098</td>
      <td>-0.083350</td>
      <td>0.483267</td>
      <td>-0.4098</td>
      <td>-0.4098</td>
    </tr>
    <tr>
      <td>2019-01-09</td>
      <td>2584.9600</td>
      <td>0.4518</td>
      <td>-0.035840</td>
      <td>0.500711</td>
      <td>-0.4518</td>
      <td>0.4518</td>
    </tr>
    <tr>
      <td>2019-01-10</td>
      <td>2596.6399</td>
      <td>-0.2653</td>
      <td>-0.207347</td>
      <td>0.484259</td>
      <td>0.2653</td>
      <td>0.2653</td>
    </tr>
    <tr>
      <td>2019-01-11</td>
      <td>2589.7500</td>
      <td>1.0000</td>
      <td>-0.013059</td>
      <td>0.520204</td>
      <td>-1.0000</td>
      <td>1.0000</td>
    </tr>
    <tr>
      <td>2019-01-14</td>
      <td>2615.6475</td>
      <td>0.0000</td>
      <td>-0.179836</td>
      <td>0.459367</td>
      <td>-0.0000</td>
      <td>-0.0000</td>
    </tr>
  </tbody>
</table>