<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2484.9297</td>
      <td>0.091074</td>
      <td>0.546859</td>
    </tr>
    <tr>
      <td>2489.9498</td>
      <td>0.078969</td>
      <td>0.544039</td>
    </tr>
    <tr>
      <td>2494.9698</td>
      <td>0.066879</td>
      <td>0.541222</td>
    </tr>
    <tr>
      <td>2499.9899</td>
      <td>0.054816</td>
      <td>0.538408</td>
    </tr>
    <tr>
      <td>2505.0100</td>
      <td>0.042744</td>
      <td>0.535590</td>
    </tr>
    <tr>
      <td>2510.0300</td>
      <td>0.030725</td>
      <td>0.532780</td>
    </tr>
    <tr>
      <td>2515.0501</td>
      <td>0.018714</td>
      <td>0.529970</td>
    </tr>
    <tr>
      <td>2520.0701</td>
      <td>0.006707</td>
      <td>0.527163</td>
    </tr>
    <tr>
      <td>2525.0902</td>
      <td>-0.005258</td>
      <td>0.524358</td>
    </tr>
    <tr>
      <td>2530.1103</td>
      <td>-0.017219</td>
      <td>0.521557</td>
    </tr>
    <tr>
      <td>2535.1303</td>
      <td>-0.029154</td>
      <td>0.518760</td>
    </tr>
  </tbody>
</table>