<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2423.4110</td>
      <td>0.052653</td>
      <td>0.516800</td>
    </tr>
    <tr>
      <td>2428.3068</td>
      <td>0.040539</td>
      <td>0.513969</td>
    </tr>
    <tr>
      <td>2433.2026</td>
      <td>0.028461</td>
      <td>0.511146</td>
    </tr>
    <tr>
      <td>2438.0983</td>
      <td>0.016395</td>
      <td>0.508326</td>
    </tr>
    <tr>
      <td>2442.9941</td>
      <td>0.004392</td>
      <td>0.505518</td>
    </tr>
    <tr>
      <td>2447.8899</td>
      <td>-0.007617</td>
      <td>0.502708</td>
    </tr>
    <tr>
      <td>2452.7857</td>
      <td>-0.019627</td>
      <td>0.499899</td>
    </tr>
    <tr>
      <td>2457.6815</td>
      <td>-0.031614</td>
      <td>0.497095</td>
    </tr>
    <tr>
      <td>2462.5772</td>
      <td>-0.043545</td>
      <td>0.494306</td>
    </tr>
    <tr>
      <td>2467.4730</td>
      <td>-0.055470</td>
      <td>0.491516</td>
    </tr>
    <tr>
      <td>2472.3688</td>
      <td>-0.067407</td>
      <td>0.488724</td>
    </tr>
  </tbody>
</table>