<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2563.8525</td>
      <td>-0.060447</td>
      <td>0.487248</td>
    </tr>
    <tr>
      <td>2569.0320</td>
      <td>-0.072443</td>
      <td>0.484441</td>
    </tr>
    <tr>
      <td>2574.2115</td>
      <td>-0.084448</td>
      <td>0.481629</td>
    </tr>
    <tr>
      <td>2579.3910</td>
      <td>-0.096467</td>
      <td>0.478819</td>
    </tr>
    <tr>
      <td>2584.5705</td>
      <td>-0.108424</td>
      <td>0.476026</td>
    </tr>
    <tr>
      <td>2589.7500</td>
      <td>-0.120384</td>
      <td>0.473230</td>
    </tr>
    <tr>
      <td>2594.9295</td>
      <td>-0.132325</td>
      <td>0.470442</td>
    </tr>
    <tr>
      <td>2600.1090</td>
      <td>-0.144219</td>
      <td>0.467667</td>
    </tr>
    <tr>
      <td>2605.2885</td>
      <td>-0.156112</td>
      <td>0.464891</td>
    </tr>
    <tr>
      <td>2610.4680</td>
      <td>-0.167963</td>
      <td>0.462128</td>
    </tr>
    <tr>
      <td>2615.6475</td>
      <td>-0.179836</td>
      <td>0.459367</td>
    </tr>
  </tbody>
</table>