<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2559.1104</td>
      <td>-0.120460</td>
      <td>0.504647</td>
    </tr>
    <tr>
      <td>2564.2803</td>
      <td>-0.132483</td>
      <td>0.501824</td>
    </tr>
    <tr>
      <td>2569.4502</td>
      <td>-0.144502</td>
      <td>0.499003</td>
    </tr>
    <tr>
      <td>2574.6201</td>
      <td>-0.156491</td>
      <td>0.496190</td>
    </tr>
    <tr>
      <td>2579.7900</td>
      <td>-0.168464</td>
      <td>0.493382</td>
    </tr>
    <tr>
      <td>2584.9600</td>
      <td>-0.180403</td>
      <td>0.490579</td>
    </tr>
    <tr>
      <td>2590.1299</td>
      <td>-0.192382</td>
      <td>0.487770</td>
    </tr>
    <tr>
      <td>2595.2998</td>
      <td>-0.204248</td>
      <td>0.484984</td>
    </tr>
    <tr>
      <td>2600.4697</td>
      <td>-0.216155</td>
      <td>0.482193</td>
    </tr>
    <tr>
      <td>2605.6396</td>
      <td>-0.228021</td>
      <td>0.479409</td>
    </tr>
    <tr>
      <td>2610.8096</td>
      <td>-0.239849</td>
      <td>0.476641</td>
    </tr>
  </tbody>
</table>