<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2506.6205</td>
      <td>-0.105986</td>
      <td>0.455741</td>
    </tr>
    <tr>
      <td>2511.6844</td>
      <td>-0.117862</td>
      <td>0.452996</td>
    </tr>
    <tr>
      <td>2516.7483</td>
      <td>-0.129697</td>
      <td>0.450265</td>
    </tr>
    <tr>
      <td>2521.8122</td>
      <td>-0.141509</td>
      <td>0.447547</td>
    </tr>
    <tr>
      <td>2526.8761</td>
      <td>-0.153300</td>
      <td>0.444830</td>
    </tr>
    <tr>
      <td>2531.9399</td>
      <td>-0.165069</td>
      <td>0.442124</td>
    </tr>
    <tr>
      <td>2537.0038</td>
      <td>-0.176829</td>
      <td>0.439423</td>
    </tr>
    <tr>
      <td>2542.0677</td>
      <td>-0.188554</td>
      <td>0.436734</td>
    </tr>
    <tr>
      <td>2547.1316</td>
      <td>-0.200285</td>
      <td>0.434047</td>
    </tr>
    <tr>
      <td>2552.1955</td>
      <td>-0.211987</td>
      <td>0.431372</td>
    </tr>
    <tr>
      <td>2557.2593</td>
      <td>-0.223652</td>
      <td>0.428707</td>
    </tr>
  </tbody>
</table>