<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2570.6735</td>
      <td>0.031342</td>
      <td>0.530590</td>
    </tr>
    <tr>
      <td>2575.8668</td>
      <td>0.019228</td>
      <td>0.527759</td>
    </tr>
    <tr>
      <td>2581.0601</td>
      <td>0.007119</td>
      <td>0.524929</td>
    </tr>
    <tr>
      <td>2586.2533</td>
      <td>-0.004935</td>
      <td>0.522107</td>
    </tr>
    <tr>
      <td>2591.4466</td>
      <td>-0.016976</td>
      <td>0.519287</td>
    </tr>
    <tr>
      <td>2596.6399</td>
      <td>-0.029007</td>
      <td>0.516473</td>
    </tr>
    <tr>
      <td>2601.8332</td>
      <td>-0.041014</td>
      <td>0.513657</td>
    </tr>
    <tr>
      <td>2607.0265</td>
      <td>-0.053000</td>
      <td>0.510849</td>
    </tr>
    <tr>
      <td>2612.2197</td>
      <td>-0.065002</td>
      <td>0.508037</td>
    </tr>
    <tr>
      <td>2617.4130</td>
      <td>-0.076916</td>
      <td>0.505243</td>
    </tr>
    <tr>
      <td>2622.6063</td>
      <td>-0.088841</td>
      <td>0.502446</td>
    </tr>
  </tbody>
</table>