<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2524.1930</td>
      <td>0.034751</td>
      <td>0.510802</td>
    </tr>
    <tr>
      <td>2529.2924</td>
      <td>0.022646</td>
      <td>0.507981</td>
    </tr>
    <tr>
      <td>2534.3918</td>
      <td>0.010596</td>
      <td>0.505170</td>
    </tr>
    <tr>
      <td>2539.4912</td>
      <td>-0.001436</td>
      <td>0.502364</td>
    </tr>
    <tr>
      <td>2544.5906</td>
      <td>-0.013435</td>
      <td>0.499566</td>
    </tr>
    <tr>
      <td>2549.6899</td>
      <td>-0.025474</td>
      <td>0.496758</td>
    </tr>
    <tr>
      <td>2554.7893</td>
      <td>-0.037406</td>
      <td>0.493974</td>
    </tr>
    <tr>
      <td>2559.8887</td>
      <td>-0.049405</td>
      <td>0.491178</td>
    </tr>
    <tr>
      <td>2564.9881</td>
      <td>-0.061331</td>
      <td>0.488394</td>
    </tr>
    <tr>
      <td>2570.0875</td>
      <td>-0.073237</td>
      <td>0.485624</td>
    </tr>
    <tr>
      <td>2575.1868</td>
      <td>-0.085168</td>
      <td>0.482841</td>
    </tr>
  </tbody>
</table>