<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Whatif_Price</th>
      <th>Linear Regression Prediction</th>
      <th>Logistic Regression Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2481.7816</td>
      <td>-0.116937</td>
      <td>0.527482</td>
    </tr>
    <tr>
      <td>2486.7953</td>
      <td>-0.128790</td>
      <td>0.524672</td>
    </tr>
    <tr>
      <td>2491.8090</td>
      <td>-0.140665</td>
      <td>0.521852</td>
    </tr>
    <tr>
      <td>2496.8227</td>
      <td>-0.152495</td>
      <td>0.519039</td>
    </tr>
    <tr>
      <td>2501.8364</td>
      <td>-0.164341</td>
      <td>0.516223</td>
    </tr>
    <tr>
      <td>2506.8501</td>
      <td>-0.176112</td>
      <td>0.513427</td>
    </tr>
    <tr>
      <td>2511.8638</td>
      <td>-0.187912</td>
      <td>0.511010</td>
    </tr>
    <tr>
      <td>2516.8775</td>
      <td>-0.199660</td>
      <td>0.508188</td>
    </tr>
    <tr>
      <td>2521.8912</td>
      <td>-0.211400</td>
      <td>0.505363</td>
    </tr>
    <tr>
      <td>2526.9049</td>
      <td>-0.223100</td>
      <td>0.502548</td>
    </tr>
    <tr>
      <td>2531.9186</td>
      <td>-0.234775</td>
      <td>0.499740</td>
    </tr>
  </tbody>
</table>