- my_yr = Time.now.year
%h1 Compare
%h2 #{my_yr} Comparison of Long Only, Linear Regression, Logistic Regression

%p #{my_yr} Aggregated Effectiveness Report:
=render 'agg_effectiveness'

%br/
%img(src='/linr1.png')

%br/
%img(src='/logr1.png')

%br/
%img(src='/linlog.png')

%br/
%img(src='/rgb.png')

%p Detailed Effectiveness Report:
=render 'detailed_effectiveness'

%hr/
=render 'layouts/toplinks'
